@model List<Story>

@{
    ViewData["Title"] = "Stories";
}

<h1 class="display-5">Stories About Mahler</h1>
<p class="lead">Below are some great stories about Gustav Mahler.</p>
<div class="my-shadow" style="margin-bottom: 20px; background-color: beige; padding: 20px">
    @foreach (Story story in Model)
    {
        <div class="lead my-shadow" style="margin-bottom: 20px; background-color: #fff0ff; padding: 20px">
            <em>Story:</em><br />@story.Text<br />
            <hr class="my-4">
            <em>Date of story:</em><br />@story.PublishedDate.ToString("dddd, dd MMMM yyyy")<br />
            <hr class="my-4">
            <em>Story ID: </em>@story.StoryId<br />
            @if (story.Comments.IsNotEmpty())
            {
                <hr class="my-4">
                <p>This story has these comments:</p>
                @foreach (Comment comment in story.Comments)
                {
                    <p class="text-primary">
                        @comment.Name
                        <em> says </em>
                        @comment.Text<br />
                    </p>
                }
            }
            <p class="lead text-center">
                <a class="btn btn-primary btn-lg" asp-action="AddComment" asp-route-storyText="@story.Text" role="button">Comment This Story</a>
            </p>
            @if (story.Ratings.IsNotEmpty())
            {
                <hr class="my-4">
                <p>This story has a total of @story.Ratings.Count ratings with an average rating of (story.Ratings.Average()) stars:-</p>
                @foreach (Rating rating in story.Ratings)
                {
                    <p class="text-primary">
                        @rating.Score Stars
                    </p>
                }
            }
            <p class="lead text-center">
                <a class="btn btn-primary btn-lg" asp-action="AddRating" asp-route-storyText="@story.Text" role="button">Rate This Story</a>
            </p>
        </div>
    }
</div>
<p class="lead text-center">
    <a class="btn btn-primary btn-lg" asp-action="AddStory" role="button">Add Your Own Story</a>
</p>
