@model List<Story>
@{
    ViewData["Title"] = "Stories";
}

<div class="text-center">
    <h1 class="display-4">Mahler Stories</h1>
    <p>Below are some great stories about Gustav Mahler:-</p>
    @foreach (Story story in Model)
    {
        <h2>Story</h2>
        @story.Text<br />
        <h4>Date of story: @story.PublishedDate</h4>
        <h4>Story ID: @story.StoryId</h4>
        @if (story.Comments.IsNotEmpty())
        {
            <h4>This story has these comments:-</h4>
            @foreach (Comment comment in story.Comments)
            {
                <p>
                    @comment.Name
                    <em> says </em>
                    @comment.Text<br />
                </p>
            }
        }
        <a asp-action="AddComment" asp-route-storyText="@story.Text">Comment this story</a>
        <br/>
        @if (story.Ratings.IsNotEmpty())
        {
            <h4>This story has a total of @story.Ratings.Count ratings with an average rating of @story.Ratings.Average() stars:-</h4>
            @foreach (int rating in story.Ratings)
            {
                <em>@rating</em>
                <em> Stars </em>
            }
        }
        <br />
        <a asp-action="AddRating" asp-route-storyText="@story.Text">Rate this story</a>
        <br /><br /><br />
    }
    <br />
    <a asp-action="AddStory">Add Your Own Story About Mahler</a>
</div>
